// customize bootstrap variables here:
@import "variables";
@import "bootstrap";

#intro {
  display: block;
  float: left;
  width: 1000px;
  margin: 1em;
 }

#menu {
  display: block;
  float: left;
  width: 300px;
  height:300px;
  border-radius: 25px;
  border: 2px solid #428BCA;
  margin: 1em;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;  
 }	

#quick {
  display: block;
  float: left;
  width: 200px;
  margin: 1em;
 }

#latest {
  display: block;
  float: left;
  width: 600px;
  margin: 1em;  
 }

 #news {
  display: block;
  float: left;
  width: 200px;
  margin: 1em; 
 }

 footer {
 	clear: both;
 }